// Place all the styles related to the Fightings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.table_fighting_list {
    text-align:center;
}

div#container {
    width:100%;
}

div#contents {
    display:table;
    margin: 0 auto;
}
